@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@custom-variant dark (&:where(.dark, .dark *));

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/crimson';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

[data-theme='crimson'] {
	& body {
		font-family: 'EB Garamond', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
		font-size: 115%;
		background-attachment: fixed;
		/* prettier-ignore */
		background-image:
      radial-gradient(at 0% 25%, color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px, transparent 30%),
      radial-gradient(at 15% 06%, color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px, transparent 30%),
      radial-gradient(at 85% 48%, color-mix(in oklab, var(--color-secondary-400) 15%, transparent) 0px, transparent 35%),
      radial-gradient(at 65% 85%, color-mix(in oklab, var(--color-tertiary-500) 8%, transparent) 0px, transparent 40%),
      radial-gradient(at 35% 60%, color-mix(in oklab, var(--color-warning-400) 6%, transparent) 0px, transparent 25%),
      radial-gradient(at 92% 40%, color-mix(in oklab, var(--color-error-500) 7%, transparent) 0px, transparent 30%),
      radial-gradient(at 50% 10%, color-mix(in oklab, var(--color-primary-300) 15%, transparent) 0px, transparent 45%),
      radial-gradient(at 10% 90%, color-mix(in oklab, var(--color-success-300) 9%, transparent) 0px, transparent 35%);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		font-family: 'EB Garamond', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	}
}
